*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/files
/package/feeds
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
qca/src/qca-wifi/cmn_dev/fw_hdr/fw/a_osapi.h
qca/src/qca-wifi/cmn_dev/fw_hdr/fw/athendpack.h
/qca/src/linux-4.4/user_headers
