config 'samba' 'general'
	option 'enable' '1'
	option 'easymode' '1'
	option 'name' 'NBG7815'
	option 'workgroup' 'WORKGROUP'
	option 'description' 'Samba on NBG7815'
	option 'charset' 'UTF-8'
	
config 'sambauser' user1
	option 'enable' '0'
	option 'name' ''
	option 'passwd' ''
	option 'sum' ''
	option 'usb1' '0'
	option 'usb2' '0'
	
config 'sambauser' user2
	option 'enable' '0'
	option 'name' ''
	option 'passwd' ''
	option 'sum' ''
	option 'usb1' '0'
	option 'usb2' '0'
	
config 'sambauser' user3
	option 'enable' '0'
	option 'name' ''
	option 'passwd' ''
	option 'sum' ''
	option 'usb1' '0'
	option 'usb2' '0'
	
config 'sambauser' user4
	option 'enable' '0'
	option 'name' ''
	option 'passwd' ''
	option 'sum' ''
	option 'usb1' '0'
	option 'usb2' '0'
	
config 'sambauser' user5
	option 'enable' '0'
	option 'name' ''
	option 'passwd' ''
	option 'sum' ''
	option 'usb1' '0'
	option 'usb2' '0'
	
	
config 'sambausb' 'usb1'
	option 'name' 'USB1'
	option 'path' '/var/tmp/storage/usb1/usb1_2-1_1'
	
config 'sambausb' 'usb2'
	option 'name' 'USB2'
	option 'path' ' '
	
