config firewall general
        option security_level   no
        option schedule_count   0
        option rules_count      0
        option url_count        0
        option NextRulePos      1
	option pingEnabled      'lan'
	option filterEnabled 	1
	option dos_enable		1
	option simpleSecurityEnabled	1
	option target 'DROP'

config firewall remote_www
	option interface	'2'
	option client_check	'0'
	option port	'80'

config firewall remote_telnet
	option interface	'2'
	option client_check	'0'
	option port	'23'
	
