

config "filter" "general"
	option number	'6'

config "filter" "ruleX"
	option target	'ACCEPT'
	option chain	'forward'
	option iniface	'wan'
	option outiface	'lan'

config "filter" "rule1"
	option target	'ACCEPT'
	option chain	'input'
	option iniface	'lan'

config "filter" "rule2"
	option target	'DROP'
	option chain	'input'
	option iniface	'wan'

config "filter" "rule3"
	option target	'lan2wan'
	option port	'21'

config "filter" "rule4"
	option target	'lan2wan'
	option port	'22'

config "filter" "rule5"
	option target	'lan2wan'
	option port	'23'

config "filter" "rule6"
	option target	'lan2wan'
	option port	'80'
