

config "filter" "general"
	option number	'7'


config "filter" "ruleX"
	option target	'DROP'
	option chain	'forward'
	option iniface	'lan'
	option outiface	'wan'

config "filter" "ruleX"
	option target	'DROP'
	option chain	'input'
	option iniface	'lan'

config "filter" "rule1"
	option target	'ACCEPT'
	option chain	'forward'
	option iniface	'lan'
	option outiface	'wan'

config "filter" "rule2"
	option target	'ACCEPT'
	option chain	'input'
	option iniface	'lan'

config "filter" "rule3"
	option target	'DROP'
	option chain	'input'
	option iniface	'wan'


#####Please modify IP Address in below rules according
#####your setup

config "filter" "rule4"
	option target	'portfwd'
	option localip	'192.168.1.20'
	option localport	'80'
	option publicport	'80'

config "filter" "rule5"
	option target	'portfwd'
	option localip	'192.168.1.20'
	option localport	'21'
	option publicport	'21'

config "filter" "rule6"
	option target	'portfwd'
	option localip	'192.168.1.20'
	option localport	'22'
	option publicport	'22'

config "filter" "rule7"
	option target	'portfwd'
	option localip	'192.168.1.20'
	option localport	'23'
	option publicport	'23'

