config nat general
        option rules_count	0
        option nat	enable
        option ftp	enable
        option h323	enable
        option sip	enable
        option snmp	enable
        option rtsp	enable
        option irc	enable
        option pptp     enable
        option l2tp     enable
        option ipsec    enable
	option NextRulePos	1
	option sessions_user 16000
	option last_changeToSerIP 192.168.1.222
	option changeToSer      0
        option PortForward	0
